* {
    margin: 0;
    padding: 0;
    border: 2px dotted blue
}
body {
    background-color: black;
    height: 300vh;
}

.button_container {
    padding-top:15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    position: sticky;
    height: 0;
    top: 0;
    z-index: 5;
}
.left-buttons {
    padding-left: 15px;
    display: flex;
    justify-content: start;
    gap: 15px;
}
.right-buttons {
    display:flex;
    padding-right: 15px;
    justify-content: end;
    gap: 15px;
}
#button1, #button2, #button3, #button4 {
    width: 120px;
    height: 100px;
    background-size: cover;
    background-position: center;
    color: hotpink;
    font-size: large;
    border-radius: 30px;
}
#button1 {
    background-image: url(glowCross.jpg);
}
#button2 {
    background-image: url(purpleBrickCross.jpg);
}
#button3 {
    background-image: url(iceCross.jpg);
    background-position: 48% 20%;
}
#button4 {
    background-image: url(purpleFireCross.jpg);
}
.filler {
    height: 130px;
}
.welcome {   
    color:hotpink;
    font-size: 65px;
    text-align: center;
    padding: 20px;
    border-radius: 50px;
}
.main-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-text, .third-text {
    font-size: xx-large;
    color: hotpink;
    background-color: black;
    padding: 30px;
    border-radius: 30px;
    border: 1px solid hotpink;
    margin-left: 10px;
    width: 65vw;
}
.second-text {
    font-size: xx-large;
    color: black;
    background-color: hotpink;
    padding: 30px;
    border-radius: 50px;
    width: 60vw;
}
/* .main-container {
    width: 100%;
    height: 20vh;
    background-position: center;
    background-size: cover;
    background-image: url(interior.jpg);
    background-attachment: fixed;
}
.second-container {
    width: 100%;
    height: 20vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: fill;
    background-image: url(churchArt.jpg);
    background-attachment: fixed;
}
.third-container {
    width: 100%;
    height: 20vh;
    background-position: top;
    background-size: auto;
    background-image: url(purpleBrickCross.jpg);
    background-attachment: fixed;
} 
.footer {
    background-image: url(churchArt.jpg);
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;  
}

.footer, .logo {
    color: whitesmoke;
    font-size: xx-large;
}*/
.logo {
    width: 80%;
    height: 20vh;
    border-radius: 50px;
     
    background-image: url(purpleChurch.jpg);
    background-position: 80% 19%;
    background-size: stretch;
    background-repeat:no-repeat;
    align-items: center;
    background-attachment: fixed;
}