* {
    margin: 0;
    padding: 0px;
    width: 100%;
}

body {
    height: 300vh;
    background-color: black;
}

.main-container {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url(interior.jpg);
    background-attachment: fixed;
}
.second-container {
    width: 100%;
    height: 20vh;
    background-position: bottom;
    background-size: auto;
    background-image: url(churchArt.jpg);
    background-attachment: fixed;
}
.third-container {
    width: 100%;
    height: 20vh;
    background-position: center;
    background-size: auto;
    background-image: url(purpleBrickCross.jpg);
    background-attachment: fixed;
}

.logo {
    height: 50vh;
    padding-top: 50px;
    
    background-image: url(purpleChurch.jpg);
    background-position: center;
    background-size: auto;
    padding-top:100px;
}

.footer, .logo {
    color: whitesmoke;
    font-size: xx-large;
}

.button_container {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    position: sticky;
    height: 0;
    top: 0;
}
#button1, #button2, #button3, #button4, .button0, .button1, .button2, .button3, .button4 {
    width: 25vh;
    height: 100px;
    background-size: cover;
    background-position: center;
    color: hotpink;
    font-size: large;
    

}

/* 
.button0, .button1, .button2, .button3, .button4 {
    background-color: black;
}*/

#button1 {
    background-image: url(glowCross.jpg);
}
#button2 {
    background-image: url(purpleBrickCross.jpg);
}
#button3 {
    background-image: url(iceCross.jpg);
}
#button4 {
    background-image: url(purpleFireCross.jpg);
}

.footer {
    background-image: url(churchArt.jpg);
    background-position: center;
    height: 100vh;
    
}

.main-text, .third-text {
    font-size: xx-large;
    color: hotpink;
    background-color: black;
    
    padding: 10px;
}
.second-text {
    font-size: xx-large;
    color: black;
    background-color: hotpink;
    padding: 30px;
    
}
