/* styles.css for thePurpleChurch in practice_repo */

* {
    margin: 0;
    padding: 0;    
}
body {
    background-color: var(--background);
    height: 500vw;
}
.button_container {
    background-color: var(--background);
    padding-top:15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    height: 0;
    top: 0;
    z-index: 5;
}
.left-buttons {
    padding-left: 15px;
    display: flex;
    justify-content: start;
    gap: 20px;
}
.right-buttons {
    display:flex;
    padding-right: 15px;
    justify-content: end;
    gap: 20px;
}
#button1, #button2, #button3, #button4 {
    color: var(--mainColor);
    width: 7vw;
    height: 100px;
    background-size: cover;
    background-position: center;
    font-size: large;
    border-radius: 30px;
}
#button1 {
    background-image: url(glowCross.jpg);
}
#button2 {
    background-image: url(purpleBrickCross.jpg);
}
#button3 {
    background-image: url(iceCross.jpg);
    background-position: 48% 20%;
}
#button4 {
    background-image: url(purpleFireCross.jpg);
}
.filler {
    height: 100px;
}
.welcome {   
    color: var(--mainColor);
    font-size: 6vw;
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    z-index: 1;
}
.main-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
#blackBox1, #blackBox2 {
    color: var(--mainColor);
    border: 1px solid var(--mainColor);
    background-color: var(--background);
    font-size: 2.5vw;
    padding: 30px;
    border-radius: 30px;
    margin-left: 10px;
    width: 65vw;
}
#pinkBox1 {
    background-color: var(--mainColor);
    color: var(--background);
    font-size: 2.5vw;
    padding: 30px;
    border-radius: 50px;
    width: 60vw;
}
.pinkBoxLeft, .blackBoxLeft, .pinkBoxRight, .blackBoxRight {
    display: flex;
    gap: 20px;
    padding: 15px;
    justify-content: space-evenly;
    width: 65%;
    border-radius: 50px;
    
}
.pinkBoxLeftText, .pinkBoxRightText, .pinkBoxLeftText2 {
    background-color: var(--mainColor);
    color: var(--background);
    font-size: 2.5vw;
    padding: 30px;
    border-radius: 50px;
    width: 65vw;
}
.blackBoxLeftText, .blackBoxRightText {
    color: var(--mainColor);
    border: 1px solid var(--mainColor);
    background-color: var(--background);
    font-size: 2.5vw;
    padding: 30px;
    border-radius: 50px;
    width: 65vw;
}
.logo {
    width: 99%;
    height: 20vh;
    border-radius: 50px;
     justify-content: center;
    background-image: url(purpleChurch.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
}
.interior {
    width: 99%;
    height: 20vh;
    border-radius: 50px;
     justify-content: center;
    background-image: url(interior.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
}
#smallPic {
    border: 1px solid var(--mainColor);
    height: auto;
}
/* .main-container {
    width: 100%;
    height: 20vh;
    background-position: center;
    background-size: cover;
    background-image: url(interior.jpg);
    background-attachment: fixed;
}
.second-container {
    width: 100%;
    height: 20vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: fill;
    background-image: url(churchArt.jpg);
    background-attachment: fixed;
}
.third-container {
    width: 100%;
    height: 20vh;
    background-position: top;
    background-size: auto;
    background-image: url(purpleBrickCross.jpg);
    background-attachment: fixed;
} 
.footer {
    background-image: url(churchArt.jpg);
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;  
}
.footer, .logo {
    color: whitesmoke;
    font-size: xx-large;
}*/
